<!DOCTYPE html>
<html>
<head>
<title>出错啦 - ikkong博客</title>
<meta content="5; url=${BASE_PATH }" http-equiv="refresh">
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
<meta content="jfinal,开源博客" name="Keywords">
<meta content=""name="Description">
<link rel="stylesheet" type="text/css" href="${BASE_PATH }css/error.css">
</head>
<body>
    <div id="msg_box">
        <img src="${BASE_PATH }images/404.png">
        <div class="title">抱歉，您访问的页面没找到！</div>
        <div class="msg">我们已经将此错误信息记录下来，并将尽快处理，为此造成您的不便请多见谅</div>
        <div class="nav">
            <a style="padding-right: 100px;" href="javascript:history.go(-1)">返回上页</a><a href="${BASE_PATH }">返回首页</a>
        </div>
    </div>
</body>
</html>